body{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: black;
        }
        img{
width: 400px;
        }
        p{
            color: white;
        }

        @media (min-width: 350px) {

            img{
width: 450px;
        }
        }