body{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: black;
        }
        img{
width: 600px;
        }
        p{
            color: white;
        }